.flip-clock {
    --fcc-flip-duration: 0.5s;
    /* transition duration when flip card */
    --fcc-label-color: #ffffff;
    /* color of label */
    --fcc-background: black;
    /* background of digit card */
    --fcc-separator-size: 6px;
    /* size of colon */
    --fcc-separator-color: white;
    /* color of colon */
}

/* Top half */
.flip-clock ._106d2 {
  background: rgb(32, 31, 31);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.08);
}
/* Bottom half */
.flip-clock ._3AVXa {
  background: rgb(32, 31, 31);
  box-shadow: inset 0 -3px 6px rgba(0,0,0,0.6);
}